body {
    color: #4B4D57;
    font-family: 'Raleway 600', sans-serif;
    font-size:16px;
}
/* Navigation//////////////////////////////////////////////////// */
header li a {
    color:#8198AB;
    font-weight: bold;
    margin: 5em;    
    font-size: 2.5em;
    letter-spacing: .2em;
    text-transform: uppercase;
}
nav  ul {
    list-style: none;
    display:flex;
    justify-content: center;
}
h1 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    letter-spacing: .5em;
    font-size: 6em;
    padding: 1em 0 1em 0;
    margin: .5em 1.5em 0 1.5em;
    text-transform: uppercase;
    color:white;
    height: 9em; 
    background-image: url(images/blog_header_bg.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
/* */
 /* Articles////////////////////////////////////////////////////////// */
main {
    display:flex;
    justify-content:center;
    /* flex-direction: column; */
    /* align-items:center; */
}
article h2 {
    font-size: 4em;
    letter-spacing: .175em;
    margin: 0 0 1em 0;
    text-transform: uppercase; 
}
article h3 {
    letter-spacing: .2em;
    font-size: 3em;
    margin: 1em 0 1em 0;
    text-transform: uppercase;
}
article {
    width: 80em;
}
main img {
    width: 80em;
}
p {
    font-size: 3em;
    line-height: 1.618em;
}

/* */
/* Aside/////////////////////////////////////////////////// */
 aside li a {
    color:#8198AB;
    font-weight: bold;
    font-size: 3em;
}
aside ul {
    margin:0 3em 1em 3em;
}
aside li {
    padding: 1em 0;
}
aside img {
    padding: 5em 0;
    width:40em;
}
aside {
    width:40em;
    padding: 3.5em 0 0 0;
    margin: 0 0 0 9em;
}

aside h3 {
    letter-spacing: .2em;
    font-size: 3.25em;
    text-transform: uppercase;
}
/*  */
/* Footer /////////////////////////////////////////////////////////*/
footer {
    text-align:center; 
    background-color:lightblue;
    padding: 0 0 1em 0;
    height: 36em;
}
li a {
    text-decoration: none;
    color: #4B4D57;
    padding: 3em 0 0 0;
    margin: 0 0 0 2em;
    font-weight: bold;
    font-size: 2.8em;
}
footer ul {
    list-style: none;
    display:flex;
    justify-content: center; 
    padding: 5em 0 0 0;
}
footer p {
    margin: 5em 0 0 0;
    font-size:2.7em;
}

input[type=text] {
    padding: 1.4em 8em;
    margin: 5em 3em;
}

input[type=submit] {
    color:#4B4D57;
    background-color:lightblue;
    border: .2em solid #4B4D57;
    text-transform: uppercase;
    font-size: 2em;
    padding: 1em 3em;
    letter-spacing:.2em;
}